body{
    background-image: url(hikey.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 95vh;
    display: flex;
    backdrop-filter: blur(3px);
    margin-top: 25px;
    font-family: cursive;
}

.topbar{
    margin-left: 92px;
    width: 1100px;
    height: 80px;

    background: radial-gradient(rgba(255,255,255,0.6));
    box-shadow: 0 0 10px rgba(255,255,255,0.6);
    border-radius: 20px;
    backdrop-filter: blur(3px);

}

nav{
    display: flex;
    padding: 12px 5%;
}

.logo{
    margin-top: 5px;
    color: #fff;
    font-size: 35px;
    float: left;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    transition: 0.2s ease;

}

nav ul li a:hover{
    color: #fff;
}

.bars{
    list-style: none;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    margin-left:0px;
    margin-right: -20px;

}

.active{
    color: #fff;
}

.main{
    display: flex;
    margin:20px;
}
.content{
    background-image: url(hikey.jpg);
    background-position: center;
    background-size: cover;

    width: 930px;
    height: 500px;
    background: radial-gradient(rgba(255,255,255,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding-left: 52px;
    margin-left: 72px;
    border-radius: 20px;

}

h2{
    font-size: 35px;
    padding-top: 20px;

}

h4{
    font-size: 20px;
    color: #fff;

}

p{
    color: #fff;
    padding-bottom: 30px;
}

button{
   cursor: pointer; 
   text-decoration: none;
   padding: 6px;
   border-radius: 5px;
   background-color: #fff;
   font-family: cursive;
   border: 0;
   outline: 0;
   border-radius: 5px;
   transition: 0.2s ease;

}

button:hover{
    background-color: orange;
}



.icons{
    margin-left: 35px;
    width: 80px;
    height: 500px;
    background: radial-gradient(rgba(255,255,255,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    margin-top: -560px;
    margin-left: 1100px;
}

.social-icons ul li{
    list-style: none;
    margin-top: 55px;
    margin-left: -16px;
}

.social-icons ul li i{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    padding: 8px 8px;
    transition: 0.2s ease;
    border-radius: 8px;
}

.social-icons ul li i:hover{
    background-color: #fff;
    color: #000;
}
